{% load static %}

<head>
    {% include 'meta.html' %}
    <link rel="stylesheet"
    href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
    integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"> </script>
    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
    integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}">

    {% include 'navbar.html' %}

    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
</head>

<body>
    <div class="container-login100">
        <a href="/chess">
            <img src="{% static 'img/chess.jpg' %}" alt="IMG" style="height: 300px; width: 300px; margin-right: 50px">
        </a>
        <a href="/uttt">
            <img src="{% static 'img/uttt.png' %}" alt="IMG" style="height: 300px; width: 300px; margin-right: 50px">
        </a>
        <a href="/chess">
            <img src="{% static 'img/breakaway_water_gamers.png' %}" alt="IMG" style="height: 300px; width: 300px; margin-right: 50px">
        </a>
    </div>
</body>