{% load static %}

{% load staticfiles %}
<meta charset="UTF-8" />
<meta name="application-name" content="AudioBoard" />
<meta name="description" content="" />
<meta name="author" content="" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

<!-- Favicon -->
<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>