{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="{% static 'img/logo.png' %}" alt="IMG" style="width: 50px; height: 50px; margin-right: 5px">
    <a class="navbar-brand" href="/">AudioBoard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/preferences">Preferences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/testing">Testing</a>
        </li>
        </ul>
        <span class="navbar-text">
        Logged in as {{user}}
        </span>
        <a class="nav-link" href="{% url 'logout' %}">
        <i class="fa fa-sign-out">
        </i>
    </a>
    </div>
</nav>