{% load static %}

{% include 'base.html' %}

{% block js %}
<script type="text/javascript" src="{% static 'js/ultimate-tic-tac-toe/canvas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ultimate-tic-tac-toe/tictactoe.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ultimate-tic-tac-toe/ai.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ultimate-tic-tac-toe/pencil.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ultimate-tic-tac-toe/util.js' %}"></script>
{% endblock %}

<script type="text/javascript">
	var ttt;
	$(document).ready(function () {
		ttt = new TicTacToe(new AI());
		ttt.drawBoard();
		ttt.useAI = false;
	});
</script>

</head>

<body>
	<div id="header">
		<table>
			<tr>
				<td>
					<form><input type="button" onClick="history.go(0)" value="New" /></form>
				</td>
				<td><span id="turn">X</span>'s Turn&nbsp;&nbsp;</td>
				<td><a href="http://mathwithbaddrawings.com/2013/06/16/ultimate-tic-tac-toe/"
						target="_blank">rules</a>&nbsp;&nbsp;</td>
				<td><span id="msg" style="font-size:11px"></span></td>
			</tr>
		</table>
	</div>

	<div id="canvas-wrap">
		<canvas id="board" width="500" height="500" style="border:1px solid #c3c3c3;">
			Your browser does not support the canvas element.
		</canvas>
		<div id="overlay"></div>
	</div>
</body>

<style type="text/css">

	body {
		background-color: rgb(179, 164, 150);
	}

	#board {
		background-image: url("{% static 'img/tictactoe/highlight.png' %}");
		background-repeat: no-repeat;
		background-position: -1000px -1000px;
	}


	#board {
		margin-left: auto;
		margin-right: auto;
		display: block;
		background-color: white;
	}

	#header {
		margin-left: auto;
		margin-right: auto;
		width: 500px;
		height: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	a {
		text-decoration: none;
		color: black;
	}

</style>